@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

#back {
  position: fixed;
  top: 2vh;
  left: 1.5vw;
  height: 7vh;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #121212;
  color: #ffffff;
  margin: 0;
  padding: 0;
  background-image: url('../../assets/MainBackground.png');
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}

#search {
  padding: 1vh;
  margin: 0 25vh;
  display: flex;
}

.song-list {
  width: 70%;
  margin: 0px auto;
  margin-top: 5%;
  padding: 10px;
  background-color: #222;
  opacity: 80%;
  border-radius: 2px;
}

#header {
  font-weight: 400;
  font-size: 90px;
}
