@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

h1 {
  text-align: center;
}
h1 h2 h3 {
  font-weight: 400;
}
#back {
  position: fixed;
  top: 2vh;
  left: 1.5vw;
  height: 7vh;
}
body {
  font-family: 'Inter', sans-serif;
  background-color: #121212;
  color: #ffffff;
  margin: 0;
  padding: 0;
  background-image: url('../../assets/MainBackground.png');
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}

.song-list {
  width: 70%;
  margin: 0px auto;
  margin-top: 10%;
  padding: 10px;
  background-color: #222;
  opacity: 80%;
  border-radius: 2px;
}

.song-item {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #333;
}

.song-item:last-of-type {
  border-bottom: none;
}

.song-item img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.song-details {
  flex: 1;
}

.song-title {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.song-artist {
  font-size: 14px;
  margin: 0;
}

.song-duration {
  font-size: 14px;
  margin: 0;
}

.song-controls {
  display: flex;
  align-items: center;
}

.song-controls button {
  background-color: transparent;
  border: none;
  color: #1db954;
  font-size: 20px;
  margin-right: 10px;
}
