body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  background-image: url('../../assets/MainBackground.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.wrapper {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  display: flex;
  justify-content: center;
}

#songContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-around;
  position: absolute;
  height: 650px;
  top: 150px;
  width: 325px;
  color: white;
  font-size: 28px;
  text-align: center;
}

#flexContainerIcons {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#like {
  background-color: #679289;
  padding: 8%;
  border-radius: 30px;
}

#dislike {
  background-color: #ee2e31;
  padding: 8%;
  border-radius: 30px;
}

#albumCover {
  width: 100%;
  border-radius: 25px;
}

.rateButton {
  cursor: pointer;
}

#artist {
  color: #858585;
}
#back {
  position: fixed;
  top: 2vh;
  left: 1.5vw;
  height: 7vh;
}
