.song-item {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #333;
}

.song-item:last-of-type {
  border-bottom: none;
}

.song-item img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.song-details {
  flex: 1;
}

.song-title {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.song-artist {
  font-size: 14px;
  margin: 0;
}

.song-duration {
  font-size: 14px;
  margin: 0;
}

.song-controls {
  display: flex;
  align-items: center;
}

.song-controls button {
  background-color: transparent;
  border: none;
  color: #1db954;
  font-size: 20px;
  margin-right: 10px;
}

.song-unlike-button {
  color: grey;
  background-color: transparent;
  border: none;
  font-size: 3em;
  margin-right: 10px;
  cursor: pointer;
}
