body{
    
    color: aliceblue;
    background-size: 100%;
    margin: 0%;
}

p{
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}

h3{
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    margin: 0%;
    
}

#main {
    padding: 100vh;
    border: 3px;
    border-color: aliceblue;
    

}

#swipe {
    padding: 100vh;
    border: 3px;
    border-color: aliceblue;
}

#discover {
    padding: 100vh;
    border: 30px;
    border-color: aliceblue;
    
}