body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  background-image: url('../img/SpinderBackground.png'); /* legge til bilde i en img-mappe Lara har laget, hent fra "screenshots" */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.wrapper {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}

.flexContainer {
  position: absolute;
  width: 40vw;
  left: 24vw;
  top: 32vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.chooseBox {
  background-color: #679289;
  height: 20vh;
  width: 18vw;
  border-radius: 40px;
  opacity: 0.9;
}

.chooseBoxText {
  color: white;
  font-size: 36px;
  font-weight: bold;
  position: relative;
  width: 40%;
  top: 20%;
  left: 8%;
}

#container2 {
  top: 58vh;
  left: 35vw;
}

#spinderLogo {
  width: 35vw;
  position: absolute;
  left: 16vw;
  top: 10vh;
}
