html {
  font-family: 'Inter', sans-serif;
  margin: 0%;
  color: aliceblue;
}

footer {
  background-color: #040c0e;
}

body {
  margin: 0%;
}

.text {
  font-weight: 300;
}

.p20 {
  font-size: 20pt;
}

.p90 {
  font-size: 90pt;
}

.header {
  font-weight: 400;
}

.links {
  font-size: 50pt;
  text-decoration: none;
  color: aliceblue;
}

.flex {
  display: flex;
  position: relative;
  flex-wrap: nowrap;
}

.sp-a {
  justify-content: space-around;
}

.sp-b {
  justify-content: space-between;
}

.m-null {
  margin: 0%;
}

.relative {
  position: relative;
}

.pt-25 {
  padding-top: 25vh;
}

.pb-10 {
  padding-bottom: 10vh;
}

#main {
  background-color: #071e22;
  padding-bottom: 5%;
}

/* icon bilde*/
#logo {
  padding: 2vh 2vh;
}

/* headding */
#main > #navBar > .flex > .header {
  margin-top: 2.5vh;
  margin-right: 30%;
  font-size: 6vh;
}

/* login button */
#log-in,
#dummy-log-in {
  font: bold 11px Arial;
  text-decoration: none;
  border-top: 1px solid #cccccc;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #cccccc;
  margin-top: 6vh;
  align-self: flex-end;
  background-color: #679289;
  padding: 2vh 7vh;
  border-radius: 40px;
  font-size: 30px;
  color: aliceblue;
  cursor: pointer;
}

/*phones image*/
#main > .flex > #phones > #phonePic {
  padding: 25vh 13vh 19vh 25vh;
}

#main > .flex > #slogan {
  margin-right: 15vh;
  padding-bottom: 20vh;
  padding-top: 10vh;
}
#main > .flex > #slogan > #filler1 {
  background-color: #6792895a;
  padding: 5vh 3vh 10vh 5vh;
}
#main > .flex > #slogan > #filler2 {
  background-color: #6792893e;
  padding: 5vh 3vh 10vh 5vh;
  border-radius: 0px 40px 40px 0px;
}

#main > .flex > #slogan > #textbox {
  background-color: #67928985;
  padding: 10vh 15vh 5vh 5vh;
  border-radius: 40px 0px 0px 40px;
}

#main > .flex > #slogan .text {
  padding-bottom: 5vh;
  padding-left: 8vh;
  margin: 0%;
}

#swipe {
  background-color: #07171a;
}
/*Swipe header*/
#swipe > .swipeDiv > .header {
  padding-right: 70vh;
  padding-left: 84vh;
}

/* swipe text */
#swipe > .flex > #swipeText > .text {
  padding: 0vh 10vh 10vh 13vh;
}

/* swipe image */
#swipe > .flex > #swipePic > #swipe {
  padding: 7vh 10vh 30vh 27vh;
  margin: 0%;
}

#create {
  background-color: #040c0e;
}

/*create header*/
#create > .flex > #createText > .header {
  padding-left: 10vh;
  padding-bottom: 0%;
}

/* create text */
#create > .flex > #createText > .text {
  padding: 0vh 0vh 30vh 33vh;
}

/* create image */
#create > .flex > #album > #songs {
  padding: 30vh 10vh 30vh 10vh;
  margin: 0%;
}

#discover {
  background-color: #07171a;
}

#discover > .header {
  padding-left: 70vh;
}

#discover > .flex > .text {
  padding-right: 8vh;
}

#discover > .flex > #albums {
  padding: 10vh 8vh 10vh 10vh;
}
